@use "../../styles/partials/global" as *;

.result-box {
	margin-top: 2rem;

	@include tablet {
		margin-top: 3rem;
	}

	&__list {
		@include flex-center-both;
		flex-wrap: wrap;
	}

	&__item {
		width: 50%;
		margin-bottom: 1rem;

		@include tablet {
			max-width: 40rem;
		}

		p {
			margin-bottom: 0;
		}
	}

	&__image {
		width: 90%;
		height: auto;
		max-height: 14rem;
		overflow: hidden;
		border-radius: 10px;
		margin-bottom: 1rem;
		box-shadow: 0 2px 5px black;
		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.08);
			@include custom-pointer;
		}

		@include tablet {
			width: 90%;
			max-height: 18rem;
			max-width: 35rem;
		}
	}

	&__buttons {
		@include flex-center-both;
		gap: 5%;
		margin-top: 2rem;
		align-items: stretch;

		@include tablet {
			gap: 4rem;
			margin-top: 2rem;
		}

		.restart-button,
		.page-button {
			border-radius: 10px;
			border: 2px solid black;
			background-color: $FamtivityPurple;
			color: black;
			padding: 1rem 1.5rem;
			font-family: "Dosis";
			font-weight: 600;
			font-size: 1rem;
			height: 4rem;
			@include custom-pointer;
			@include box-shadow;
			@include flex-center-both;
			transition: transform 0.2s ease-in-out;

			p {
				margin: 0;
			}

			&:hover {
				transform: scale(0.98);
				@include custom-pointer;
			}

			&:active {
				transform: scale(0.98);
				box-shadow: 3px 2px 22px 0.5px rgba(0, 0, 0, 0.24);
			}

			@include tablet {
				font-size: 1.5rem;
			}
		}
		.page-button {
			background-color: $FamtivityYellow;
		}
	}
}
