@use "../../styles/partials/global" as *;

.result-box {
	@include flex-center-both;
	flex-wrap: wrap;
	margin: 3rem 0;

	&__item {
		width: 50%;
	}

	&__image {
		width: 20rem;
		border-radius: 10px;
		box-shadow: 0 2px 5px black;

		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.08);
			@include custom-pointer;
		}
	}

	&__buttons {
		@include flex-center-both;
		gap: 4rem;
		margin-top: 2rem;
		align-items: stretch;

		.restart-button,
		.page-button {
			border-radius: 10px;
			border: 2px solid black;
			background-color: $FamtivityPurple;
			color: black;
			padding: 1rem 1.5rem;
			font-family: "Dosis";
			font-weight: 600;
			font-size: 2rem;
			@include custom-pointer;
			@include box-shadow;
			transition: transform 0.2s ease-in-out;

			&:hover {
				transform: scale(0.98);
				@include custom-pointer;
			}
		}
	}
}
