@use "../../styles/partials/global" as *;

.vg-genre {
	padding: 0 0.5rem;

	&__header {
		font-size: 1.25rem;
		margin: 1rem 0;

		@include tablet {
			font-size: 1.5rem;
			margin: 1rem 0 2rem 0;
		}
	}

	&__selections {
		@include flex-center-both;
		gap: 0.5rem;
		flex-wrap: wrap;

		@include tablet {
			gap: 1.5rem;
		}
	}

	&__wrapper {
		width: 32.5%;
		height: 5.5rem;

		@include tablet {
			height: 7rem;
			width: 25%;
		}
	}

	&__button {
		cursor: pointer;
		background-color: white;
		border-radius: 10px;
		border: 3px solid $FamtivityBlue;
		box-shadow: 0 2px 2px black;
		font-family: "Dosis";
		font-weight: 700;
		width: 100%;
		height: 100%;

		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.05);
			@include custom-pointer;
		}

		&:active {
			transform: scale(0.98);
			box-shadow: 3px 2px 22px 0.5px rgba(0, 0, 0, 0.24);
		}

		&--active {
			background-color: $FamtivityBlue;
			color: white;

			&:hover {
				transform: none;
				@include custom-pointer;
			}
		}

		img {
			width: 2rem;
			height: auto;

			@include tablet {
				margin-bottom: 1rem;
				width: 3rem;
				height: 3rem;
			}
		}

		p {
			margin: 0;
			font-size: 0.875rem;

			@include tablet {
				font-size: 1rem;
			}
		}
	}
}
