@use "../../styles/partials/global" as *;

.videogame-modal {
	&__images {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		margin-bottom: 1rem;
	}

	&__poster {
		width: 12rem;
		border-radius: 10px;

		@include tablet {
			width: 15rem;
		}
	}

	&__esrb {
		width: auto;
		height: 4rem;
	}
}

.videogame-modal_platforms,
.videogame-modal_genres {
	display: flex;

	span {
		padding-left: 0.25rem;

		&:first-of-type {
			padding-left: 0.5rem;
		}
	}
}
