@use "../../styles/partials/global" as *;

.hamburger {
	width: 2rem;
	height: 1.75rem;
	display: flex;
	justify-content: space-around;
	flex-flow: column nowrap;
	cursor: pointer;
	@include custom-pointer;
	z-index: 999;
	padding-left: 0.5rem;

	@include tablet {
		display: none;
	}

	.burger {
		width: 2rem;
		height: 0.25rem;
		border-radius: 10px;
		transform-origin: 1px;
		transition: all 0.3s linear;
	}

	.burger1 {
		background-color: $FamtivityPink;
	}

	.burger2 {
		background-color: $FamtivityPurple;
	}

	.burger3 {
		background-color: $FamtivityBlue;
	}
}
