@use "../../styles/partials/global" as *;

.provider {
	padding: 0 0.5rem;

	&__selections {
		@include flex-center-both;
		gap: 0.5rem;
		flex-wrap: wrap;
		align-items: stretch;

		@include tablet {
		}
	}

	&__wrapper {
		min-width: 43%;
		min-height: 4.5rem;

		@include tablet {
		}
	}

	&__button {
		cursor: pointer;
		background-color: $FamtivityGrey;
		border: none;

		font-family: "Dosis";
		font-weight: 700;
		width: fit-content;
		height: 100%;

		&--active {
			background-color: $FamtivityPink;
			color: white;
		}

		&:hover {
			@include custom-pointer;
		}

		img {
			width: 5rem;
			height: 5rem;
			transition: transform 0.2s ease-in-out;

			&:hover {
				transform: scale(1.05);
				@include custom-pointer;
			}

			&--active {
				border: 2px solid $FamtivityPink;
				border-radius: 10px;
			}
		}

		p {
			margin: 0;
		}
	}
}
