$FamtivityPink: #f27173;
$FamtivityPurple: #bb8abf;
$FamtivityBlue: #50c6e0;
$FamtivityYellow: #ffc233;
$FamtivityGrey: #f2f2ff;

$FamtivityPink-40: rgba(242, 113, 115, 0.4);
$FamtivityPurple-40: rgb(187, 138, 191, 0.4);
$FamtivityBlue-40: rgb(80, 198, 224, 0.4);

$tablet-breakpoint: 768px;
$desktop-breakpoint: 1280px;
