@use "../../styles/partials/global" as *;

.hero {
	min-height: 94.875vh;
	width: 100%;
	background-image: url("/src/assets/tac-top-shapes-low-opacity.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	align-items: center;

	.logo__container {
		@include flex-center-both;

		.logo {
			width: 60vw;
			display: none;

			@include tablet {
				display: block;
				padding-top: 2rem;
				text-align: center;
			}

			@include desktop {
				max-width: 40rem;
			}
		}
	}

	.tagline {
		font-size: 1.5rem;
		line-height: 1.1;
		font-family: "Dosis";
		font-weight: 500;
		margin: 0;
		padding: 1rem 0;
	}

	.icon__container {
		display: flex;
		place-content: center;
		gap: 1rem;

		.icon {
			width: 3.125rem;
		}
	}

	.hero__header {
		font-size: 3rem;
		margin: 4rem 1rem 8rem 1rem;
		line-height: 1.1;
		font-family: "Dosis";
		font-weight: 500;

		@include tablet {
			margin: 4rem 2rem 8rem 2rem;
		}

		@include desktop {
			margin: 4rem 2rem 8rem 2rem;
		}
	}

	.navigation-div {
		position: absolute;
		bottom: 5em;
		left: 50%;
		transform: translatex(-50%);

		.arrow-link {
			width: 50px;
		}
	}

	.plan-button {
		border-radius: 10px;
		border: none;
		background-color: black;
		color: white;
		padding: 1rem;
		font-family: "Dosis";
		font-weight: 600;
		font-size: 2rem;
		@include custom-pointer;

		&::before {
			position: absolute;
			display: block;
			top: 0px;
			content: "";
			width: 20px;
			z-index: 200;
			height: 80px;
			background: rgba(255, 255, 255, 0.3);
			transform: skew(-30deg);
			opacity: 0;
			animation: sheen 4s ease infinite, fade-in-sheen 3s ease 2s forwards;
			// animation-delay: 3s;
		}
	}
}

@keyframes sheen {
	0% {
		left: -56px;
	}
	100% {
		left: 220px;
	}
}

@keyframes fade-in-sheen {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.plan-button__wrapper {
	position: relative;
	width: fit-content;
	overflow: hidden;
	border-radius: 10px;
}

@keyframes fade-in-down {
	0% {
		opacity: 0;
		transform: translateY(-20px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.fade-in-down {
	animation: fade-in-down 3s ease;
}
