@use "../../styles/partials/global" as *;

.sliders {
	@include flex-center-both;
	height: 100%;
	justify-content: space-around;
	flex-direction: column;

	@include iPhone15 {
		height: 40rem;
	}

	h2 {
		font-size: 1.25rem;

		@include tablet {
			font-size: 1.5rem;
		}
	}

	.MuiSlider-root {
		color: $FamtivityPink !important;

		&:hover {
			cursor: url("/icons/cursor.svg"), pointer;
		}
	}

	.css-ltlhnc-MuiSlider-root,
	.css-37wsim {
		height: 1rem !important;
		padding: 0;
	}

	.css-cp2j25-MuiSlider-thumb,
	.css-5s1qf1 {
		width: 1.875rem !important;
		height: 1.875rem !important;
		border-radius: 25% !important;
	}

	.css-1ucwjgd-MuiSlider-markLabel,
	.css-1bvr8oc-MuiSlider-markLabel {
		line-height: 2.5rem !important;
	}

	.decade-slider {
		width: 90%;
		min-height: 30%;
	}

	.length-slider {
		width: 90%;
		min-height: 30%;
	}

	&__container {
		min-height: 3rem;
		padding: 1rem 2rem;
	}
}

.MuiSlider-root {
	color: $FamtivityPink !important;

	&:hover {
		cursor: url("/icons/cursor.svg"), pointer;
	}
}
