@use "../../styles/partials/global" as *;

.profile-page {
	background-image: url("/tac-top-shapes-low-opacity.svg");
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;

	height: 94.5vh;

	&__profile {
		@include flex-center-both;
		flex-direction: column;
	}

	&__header {
		margin: 1rem 0;
	}

	&__logout-wrapper {
		margin: 2rem;
		position: absolute;
		bottom: 10px;
		left: 40%;

		a {
			@include flex-center-both;
			gap: 0.5rem;
		}
	}

	&__avatar {
		width: 10rem;
		border-radius: 40px;
		border: 2px solid rgb(0, 0, 0);
		box-shadow: 0px 3px 10px 0.5px rgba(0, 0, 0, 0.623);
	}

	&__info {
		display: flex;
		margin-bottom: 2rem;
	}

	&__watch-list,
	&__family-profiles {
		width: 100%;
		margin: 2rem auto;
		z-index: 10;
	}
}

.login-request {
	padding: 4rem 1rem;

	@include tablet {
		margin: auto;
		max-width: 50rem;
	}

	&__container {
		display: flex;
		flex-direction: column;
		border-radius: 20px;
		background-color: $FamtivityGrey;
		box-shadow: 0 2px 5px black;
		flex-grow: 1;
		min-height: 20rem;
		gap: 1.5rem;
	}

	&__header {
		margin: 1rem 0;
		font-size: 1.25rem;

		@include tablet {
			margin: 2rem 0;

			font-size: 1.5rem;
		}
	}
}
