@use "../../styles/partials/global" as *;

:root {
	--swiper-theme-color: #ffc233a9 !important;
}

.popular {
	display: flex;
	align-items: center;
	flex-direction: column;
	height: 100vh;
	margin-top: 3rem;

	&__header {
		font-size: 1.2rem;
		font-weight: 700;
		padding: 0.5rem;
		text-shadow: 1px 1px 2px black;

		@include mobile-big {
			font-size: 1.5rem;
		}

		@include tablet {
			font-size: 2rem;
		}

		@include iPhone15 {
			font-size: 1.5rem;
		}

		&--blue {
			color: $FamtivityBlue;
		}
		&--pink {
			color: $FamtivityPink;
		}
		&--purple {
			color: $FamtivityPurple;
		}
	}

	&__movies,
	&__videogames,
	&__boardgames {
		width: 100%;
		max-width: 1200px;
		max-height: 30rem;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		margin-bottom: 3rem;
		border-radius: 20px;

		@include tablet {
			max-height: 35rem;

			p {
				font-size: 1.25rem;
			}
		}
	}

	&__videogames {
		min-height: 30rem;
	}

	&__boardgames {
		height: auto;
	}

	.popular__swiper {
		width: 100%;
		height: 100%;

		img {
			border-radius: 20px;
		}
	}

	.swiper-pagination {
		position: absolute;
		bottom: -40px;
		width: 100%;
		display: flex;
		justify-content: center;
		@include custom-pointer;

		.swiper-pagination-bullet {
			@include custom-pointer;
			width: 1rem;
			height: 1rem;
			border: 2px solid black;
		}
	}

	.swiper {
		width: 100%;
		height: 100%;
		padding-top: 1.25rem;
		padding-bottom: 2.5rem;
		margin-bottom: 2rem;
	}

	.swiper-slide {
		background-position: center;
		background-size: cover;
		width: 300px;
		height: auto;
		box-shadow: 0px 3px 5px 1px rgba(0, 0, 0, 0.5);
		border-radius: 20px;
	}

	.swiper-slide,
	.swiper-slide-visible,
	.swiper-slide-active,
	.swiper-slide-fully-visible {
		margin-bottom: 2rem;
	}

	.swiper-slide img {
		display: block;
		width: 100%;
		border-radius: 10px;
		height: 100%;
		object-fit: cover;

		footer {
			width: 100%;
		}
	}
}
