@use "../../styles/partials/global" as *;

.react-modal {
	padding: 1rem 1rem 2.5rem 1rem;
	box-sizing: border-box;
	position: fixed;
	background-color: white;
	max-height: 40rem;
	width: 100vw;
	border-radius: 10px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.205);
	z-index: 1000;
	top: 40%;
	left: 50%;
	transform: translate(-50%, -50%);
	overflow: scroll;
	scrollbar-width: none;

	&::-webkit-scrollbar {
		display: none; /* for Chrome, Safari, and Opera */
	}

	@include tablet {
		top: 26rem;
		left: 50%;
		min-height: 45rem;
		width: 85vw;
		padding: 1rem 1rem 1rem 2rem;
	}

	&:focus {
		outline: none;
	}

	&__closer {
		display: inline;
		float: right;
		text-align: right;
		width: 2rem;
		@include custom-pointer;
	}
}

.react-modalOverlay {
	position: fixed;
	background-color: rgba(0, 0, 0, 0.5);
	@include flex-center-both;
	z-index: 1001;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
}
