@use "../../styles/partials/global" as *;

@keyframes slideDown {
	0% {
		height: 0;
		opacity: 0;
	}
	100% {
		max-height: 100vh;
		opacity: 1;
	}
}

@keyframes slideUp {
	from {
		max-height: 100vh;
		opacity: 1;
	}
	to {
		max-height: 0;
		opacity: 0;
	}
}

nav {
	background-color: $FamtivityGrey;
	height: 3rem;
	position: relative;
	display: flex;
	align-items: center;
	border-bottom: 2px solid black;

	@include tablet {
		justify-content: space-around;
	}

	.nav__link {
		flex-grow: 1;

		@include tablet {
			display: none;
		}

		.nav__logo {
			width: 10rem;
		}
	}

	.nav-list {
		display: none;

		@include tablet {
			display: contents;
		}

		&.ham-nav {
			border-top: 2px solid black;
			display: flex;
			flex-direction: column;
			background-color: white;
			margin-top: 3rem;
			position: absolute;
			height: auto;
			width: 50vw;
			position: absolute;
			top: 0;
			left: 0;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
			padding: 0;
			animation: slideDown 0.25s forwards;
		}

		&:not(.ham-nav) {
			animation: slideUp 0.5s forwards;
		}

		&__item {
			padding: 1rem 0;
			border-bottom: 1px solid #ccc;

			@include tablet {
				border-bottom: none;
			}
		}
	}

	.login {
		@include flex-center-both;

		&__logo {
			width: 1.75rem;
			padding: 0 0.5rem 0 0;

			@include tablet {
				padding: 0 0.5rem 0 0;
			}
		}

		&__title {
			display: none;

			@include tablet {
				display: initial;
				margin: 0;
			}
		}
	}
}
