@use "../../styles/partials/global" as *;

.carousel {
	@include flex-center-both;
	flex-wrap: wrap;
	position: relative;
	width: 100%;
	overflow: hidden;

	.selections {
		background-color: $FamtivityGrey;
		margin: 1rem 0.25rem 1rem 0.25rem;
		border-radius: 20px;
		height: 85vh;
		width: 90%;
		order: -1;
		position: relative;
	}

	.button__wrapper {
		flex: 1 1 30%;

		button {
			background-color: $FamtivityPurple;
			border: none;
			border-radius: 10px;
			padding: 0;
			width: 2rem;

			.button__arrow {
				width: 2rem;
			}
		}

		.submit {
			width: 4rem;
			height: 2rem;
			padding: 0.5rem 0.5rem;
			font-family: "Dosis";
			font-weight: 700;
		}
	}
}

@keyframes slideInFromRight {
	from {
		transform: translateX(100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideOutToLeft {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(-100%);
	}
}

@keyframes slideInFromLeft {
	from {
		transform: translateX(-100%);
	}
	to {
		transform: translateX(0);
	}
}

@keyframes slideOutToRight {
	from {
		transform: translateX(0);
	}
	to {
		transform: translateX(100%);
	}
}

.selections.next-enter {
	animation: slideInFromRight 0.25s forwards;
}

.selections.next-exit {
	animation: slideOutToLeft 0.25s forwards;
}

.selections.prev-enter {
	animation: slideInFromLeft 0.25s forwards;
}

.selections.prev-exit {
	animation: slideOutToRight 0.25s forwards;
}
