@use "../../styles/partials/global" as *;

.results {
	margin: 0 1rem;

	&__header {
		margin-top: 1rem;
		font-size: 1.25rem;

		@include tablet {
			font-size: 1.5rem;
		}
	}
	&__error {
		@include flex-center-both;
		flex-direction: column;

		&__text {
			font-size: 2rem;
		}

		&__link {
			background-color: $FamtivityPurple;
			border: 3px solid black;
			border-radius: 10px;
			width: max-content;
			height: max-content;
			padding: 1rem;
			font-family: "Dosis";
			font-size: 2rem;

			&:hover {
				@include custom-pointer;
			}
		}
	}
}

.loading {
	margin-top: 5rem;

	&__image {
		width: 15rem;
	}
}
.poster-tagline {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin-bottom: 1rem;

	span {
		padding: 0 0.5rem;
		font-style: italic;

		@include tablet {
			padding-right: 1.5rem;
			font-size: 1.5rem;
		}
	}
}

.movie-modal_poster {
	width: 8rem;
	border-radius: 10px;
	box-shadow: 0 2px 5px black;

	@include tablet {
		width: 12rem;
		margin-bottom: 1rem;
	}
}

.movie-modal_genres {
	display: flex;

	span {
		padding-left: 0.25rem;

		&:first-of-type {
			padding-left: 0.5rem;
		}
	}
}
