@use "../../styles/partials/global" as *;

.family-members {
	width: 100%;

	.family-member {
		display: flex;
		padding-bottom: 1rem;
		border-bottom: 1px solid $FamtivityGrey;

		img {
			height: 3rem;
		}

		&__info {
			width: 50%;
			margin-left: 1rem;
			flex-grow: 1;

			p {
				margin: 0;
				text-align: left;
			}
		}

		&__edit {
			@include flex-center-both;

			img {
				width: 1.5rem;
				height: auto;
				margin: 0 0.25rem;
			}
		}
	}
}

.accordion {
	width: 100%;

	@include tablet {
		max-width: 60rem;
	}
}

.accordion-button:focus {
	box-shadow: none;
}
.accordion-button:not(.collapsed) {
	background-color: $FamtivityBlue-40;
}
