@use "../../styles/partials/global" as *;

.family-members {
	width: 100%;

	.family-member {
		display: flex;
		padding: 1rem 0;
		border-bottom: 1px solid $FamtivityGrey;

		img {
			height: 3rem;
		}

		&__info {
			width: 50%;
			margin-left: 1rem;
			flex-grow: 1;

			p {
				margin: 0;
				text-align: left;
			}
		}

		&__edit {
			@include flex-center-both;

			img {
				width: 1.5rem;
				height: auto;
				margin: 0 0.25rem;
				@include custom-pointer;
			}
		}
	}
}

.family-member__add {
	border-radius: 10px;
	margin-top: 1rem;
}

.accordion {
	width: 100%;

	@include tablet {
		max-width: 60rem;
	}
}

.accordion-button:focus {
	box-shadow: none;
}
.accordion-button:not(.collapsed) {
	background-color: $FamtivityBlue-40;
}

.new-profile {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;

	p {
		margin: 0;
	}

	label {
		margin: 0 0.5rem;
	}

	select,
	input {
		padding: 0.25rem;
		border: 1px solid black;
		margin: 0 0.5rem 1rem 0.5rem;
		width: 90%;
		border-radius: 10px;
	}

	.radio-buttons__wrapper {
		@include flex-center-both;
		flex-wrap: wrap;
		gap: 1rem;
		margin: 1rem;

		.radio-button {
			input[type="radio"] {
				display: none;
			}

			label {
				border: 1px solid transparent;
				border-radius: 10px;
				padding: 2px;
				@include custom-pointer;
				display: inline-block;
			}

			input[type="radio"]:checked + label {
				border-color: rgb(0, 0, 0);
				border-radius: 10px;
			}
		}
	}

	&__button {
		border-radius: 10px;
		padding: 0.5rem 0.5rem;
		background-color: $FamtivityBlue-40;
	}

	&__image {
		width: 4rem;
		@include custom-pointer;
	}
}
