@use "./styles/partials/global" as *;

body {
	margin: 0;
	padding: 0;
	font-family: "Dosis";
	background-color: #f8f8ec;
	color: black;
}

h3 {
	font-size: 1rem;
}

a {
	text-decoration: none;
	color: black;
	&:hover {
		cursor: pointer;
	}
}

ul {
	list-style: none;
}

select {
	box-sizing: border-box;
	appearance: none;
	background-color: transparent;
	border: none;
	width: 100%;
	font-family: inherit;
	font-size: inherit;
	cursor: inherit;
	line-height: inherit;
	outline: none;
	text-align: center;
	min-width: 3rem;

	option {
		padding-left: 1rem;
	}
}
