@use "../../styles/partials/global" as *;

.system {
	padding: 0 0.5rem;
	display: flex;
	flex-direction: column;
	height: 45rem;

	&__header {
		font-size: 1.5rem;
		margin: 1rem 0 2rem 0;
	}

	&__selections {
		@include flex-center-both;
		gap: 0.75rem;
		flex-wrap: wrap;
		align-items: stretch;
		flex-grow: 1;

		@include tablet {
			gap: 1.5rem;
		}
	}

	&__wrapper {
		min-width: 30%;
		min-height: 5rem;

		@include tablet {
			max-height: 12rem;
		}
	}

	&__button {
		cursor: pointer;
		background-color: white;
		border-radius: 10px;
		border: 3px solid $FamtivityPurple;
		box-shadow: 0 2px 2px black;
		font-family: "Dosis";
		font-weight: 700;
		width: 100%;
		height: 100%;
		padding: 0.5rem;
		min-height: 5rem;
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		align-items: center;

		@include tablet {
			margin-bottom: 1rem;
			width: 100%;
		}

		transition: transform 0.2s ease-in-out;

		&:hover {
			transform: scale(1.05);
			@include custom-pointer;
		}

		&:active {
			transform: scale(0.98);
			box-shadow: 3px 2px 22px 0.5px rgba(0, 0, 0, 0.24);
		}

		&--active {
			background-color: $FamtivityPurple;
			color: white;

			&:hover {
				transform: none;
				@include custom-pointer;
			}
		}

		img {
			width: 3rem;
			height: auto;

			@include tablet {
				margin-bottom: 1rem;
				width: 4rem;
				height: auto;
			}
		}

		p {
			margin: 0;
			word-break: normal;
		}
	}
}
